@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: "Nunito", sans-serif;
  --primary-color: #f4ce14;
  --secondary-color: #393ee8;
  --highlight-color: #45474b;
  --accent-color: #f5f7f8;
  /* #D3A500 */
  --black: #000;
  --white: #fff;

  --border-radius: 1rem;
  --padding: 1.5rem;
  --max-width-wrapper: 1600px;
  --display-heading: 2.25rem;
  --large-heading: 1.8rem;
  --small-heading: 1.3rem;
  --large-paragraph: 1.125rem;
  --medium-paragraph: 1rem;
  --small-paragraph: 0.8rem;
  --overline: 0.7rem;
  --footnote: 0.7rem;
  --gradient-start: rgba(239, 0, 215, 1);
  --gradient-end: rgba(72, 0, 236, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: #fffce1;
  font-family: var(--font);
  max-width: 1020px;
  margin: 0 auto;
}

::-webkit-scrollbar,
scrollbar {
  width: 4px;
  background-color: white;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  height: 30px;
}